@using Blog.Models;
@using Microsoft.AspNetCore.Authorization;
@model BlogsModel
@inject IAuthorizationService Authorization
@{
    ViewData["Title"] = "Home";
}

<h1>All blogs</h1>

<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <div>
            @foreach (var blog in Model.Blogs)
            {
                <div class="mt-4">
                    <div class="w-100 d-flex flex-row ">
                        <h6 class="text-center">
                            <a class="text-dark font-medium" asp-controller="Blog" asp-action="Index" asp-route-id="@blog.Id">@blog.Title</a>

                            @if (User.Identity.IsAuthenticated && (await Authorization.AuthorizeAsync(User, blog, Operations.Modify)).Succeeded)
                            {
                                <span class="ml-4 font-medium text-cente"><a asp-controller="Blog" asp-action="Edit" asp-route-id="@blog.Id">edit</a></span>
                            }
                        </h6>
                    </div>
                    <a class="text-black-50" asp-controller="Profile" asp-action="Index" asp-route-id="@blog.Author.Id">@blog.Author.FirstName @blog.Author.LastName</a>
                </div>
            }
        </div>
    </div>
</div>