@model BlogModel
@{
    ViewData["Title"] = "Blog";
}

<h1>@Model.Title</h1>
<ul>
    @foreach (var comment in Model.Comments)
     {
        <li> 
            <a asp-controller="User" asp-action="Index" asp-route-id="@comment.Author.Id">@comment.Author.FirstName @comment.Author.LastName</a>
            <p>@comment.Content</p>
        </li>
     }
</ul>

